body {
  background: url("bgimage.png");
}

.app{
  min-height: 100vh;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
  max-width : 95%;
}

.row{
  min-height: 100vh;
}

.sblock 
{
  height: 100%;;
}

.flipblock{
  height: 160px;
  min-width: 160px;
  max-width: 160px;
  border-color: black;
  border: 1px solid #FFF;
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px;
}

.contentBox{
  max-width: 1200px;
  /* background-color:#2f3360; */
  margin: 2%;
  border-radius: 5px;
}
